In [1]:
import pandas as pd
from pandas.api.types import is_numeric_dtype

C:\Users\shiva\.conda\envs\pytorch\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\shiva\.conda\envs\pytorch\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\shiva\.conda\envs\pytorch\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
csv = pd.read_csv('./terror_data_final.csv',index_col=0)
csv.head().T

ID,0,1,2,3,4
Date,2013-08-26,2021-05-25,1998-12-19,2001-09-02,2003-08-13
Day_of_Week,Saturday,Thursday,Thursday,Wednesday,Tuesday
Time,5:51,3:19,2:20,15:1,18:38
Location,NaN,Nairobi,Lima,rokyo,Paris
Attack_Type,Shooting,Bombing,Hijacking,Bombing,Bombing
Perpetrator,Group C,Group A,Group C,Group C,Group C
Known_Associates,1.0,6.0,2.0,9.0,0.0
Victims_Injured,NaN,5.0,49.0,NaN,27.0
Victims_Deceased,19.0,21.0,11.0,14.0,24.0
Target_Type,Civiliaes,Tourists,NaN,Civilians,Infrastructure
Weapon_Used,Bladed Weapons,Cyemical,NaN,Explgsives,Firearas
Claimed_By,Unknown,Group C,Group D,Group C,NaN
Intelligence_Tip,Unknown,No,No,Unknown,No
Motive,Religious,qeligious,Ethnic,Religious,Ethnic
Operational_Success,oo,to,No,NaN,NaN
Operatives_Captured,4.0,5.0,10.0,NaN,9.0
Financial_Support,Local,Unknowd,Local,Local,Unknown
Training_Location,Domestic,Abroad,Domestic,Domestic,Domestic
Communication_Method,Cellphones,Idternet,NaN,cellphoies,Cellphones
Major_Incident,1,1,1,1,1
country,Turkey,Kenya,Peru,Japan,France

In [3]:
txt = [x for x in csv.columns[1:] if not is_numeric_dtype(csv[x])]

In [4]:
txt

['Day_of_Week',
 'Time',
 'Location',
 'Attack_Type',
 'Perpetrator',
 'Target_Type',
 'Weapon_Used',
 'Claimed_By',
 'Intelligence_Tip',
 'Motive',
 'Operational_Success',
 'Financial_Support',
 'Training_Location',
 'Communication_Method',
 'country']

In [5]:
def lower(x):
    try:
        return x.lower()
    except:
        return x

In [6]:
for x in txt:
    csv[x] = csv[x].apply(lower)

In [7]:
csv.head()

,Date,Day_of_Week,Time,Location,Attack_Type,Perpetrator,Known_Associates,Victims_Injured,Victims_Deceased,Target_Type,...,Claimed_By,Intelligence_Tip,Motive,Operational_Success,Operatives_Captured,Financial_Support,Training_Location,Communication_Method,Major_Incident,country
ID,,,,,,,,,,,,,,,,,,,,,
0,2013-08-26,saturday,5:51,NaN,shooting,group c,1.0,NaN,19.0,civiliaes,...,unknown,unknown,religious,oo,4.0,local,domestic,cellphones,1,turkey
1,2021-05-25,thursday,3:19,nairobi,bombing,group a,6.0,5.0,21.0,tourists,...,group c,no,qeligious,to,5.0,unknowd,abroad,idternet,1,kenya
2,1998-12-19,thursday,2:20,lima,hijacking,group c,2.0,49.0,11.0,NaN,...,group d,no,ethnic,no,10.0,local,domestic,NaN,1,peru
3,2001-09-02,wednesday,15:1,rokyo,bombing,group c,9.0,NaN,14.0,civilians,...,group c,unknown,religious,NaN,NaN,local,domestic,cellphoies,1,japan
4,2003-08-13,tuesday,18:38,paris,bombing,group c,0.0,27.0,24.0,infrastructure,...,NaN,no,ethnic,NaN,9.0,unknown,domestic,cellphones,1,france

In [8]:
csv.head().T

ID,0,1,2,3,4
Date,2013-08-26,2021-05-25,1998-12-19,2001-09-02,2003-08-13
Day_of_Week,saturday,thursday,thursday,wednesday,tuesday
Time,5:51,3:19,2:20,15:1,18:38
Location,NaN,nairobi,lima,rokyo,paris
Attack_Type,shooting,bombing,hijacking,bombing,bombing
Perpetrator,group c,group a,group c,group c,group c
Known_Associates,1.0,6.0,2.0,9.0,0.0
Victims_Injured,NaN,5.0,49.0,NaN,27.0
Victims_Deceased,19.0,21.0,11.0,14.0,24.0
Target_Type,civiliaes,tourists,NaN,civilians,infrastructure
Weapon_Used,bladed weapons,cyemical,NaN,explgsives,firearas
Claimed_By,unknown,group c,group d,group c,NaN
Intelligence_Tip,unknown,no,no,unknown,no
Motive,religious,qeligious,ethnic,religious,ethnic
Operational_Success,oo,to,no,NaN,NaN
Operatives_Captured,4.0,5.0,10.0,NaN,9.0
Financial_Support,local,unknowd,local,local,unknown
Training_Location,domestic,abroad,domestic,domestic,domestic
Communication_Method,cellphones,idternet,NaN,cellphoies,cellphones
Major_Incident,1,1,1,1,1
country,turkey,kenya,peru,japan,france

# Week

In [9]:
from nltk.metrics import edit_distance

In [10]:
def get_similarity(word,word_list):
    max_word = ''
    max_sim = 0
    for i in word_list:
        dst = edit_distance(i,word)
        max_length = max(len(i), len(word))
        similarity = 1 - (dst / max_length)
        if similarity > max_sim:
            max_word = i
            max_sim = similarity
    return max_word

In [11]:
weekdays = ['saturday','sunday','monday','tuesday','wednesday','thursday','friday']

In [12]:
for i in range(len(csv)):
    wd = csv.loc[i,'Day_of_Week']
    if isinstance(wd,float):
        continue
    if wd not in weekdays:
        correct = get_similarity(wd,weekdays)
        csv.loc[i,'Day_of_Week'] = correct

In [13]:
csv['Day_of_Week'].value_counts()

Day_of_Week
monday       6638
thursday     6620
tuesday      6593
friday       6592
saturday     6565
sunday       6565
wednesday    6432
Name: count, dtype: int64

# Attack_Type

In [14]:
at_type = ['bombing','shooting',
 'kidnapping',
 'hijacking',
 'arson',
 'assassination',
 'stabbing']

In [15]:
for i in range(len(csv)):
    wd = csv.loc[i,'Attack_Type']
    if isinstance(wd,float):
        continue
    if wd not in at_type:
        correct = get_similarity(wd,at_type)
        csv.loc[i,'Attack_Type'] = correct

In [16]:
csv['Attack_Type'].value_counts()

Attack_Type
bombing          20860
shooting         13290
kidnapping        4205
hijacking         3561
arson             2436
assassination     2384
stabbing          1899
Name: count, dtype: int64

# Target_Type

In [17]:
tr_type = ['infrastructure','government officials',
 'civilians',
 'police',
 'tourists']

In [18]:
for i in range(len(csv)):
    wd = csv.loc[i,'Target_Type']
    if isinstance(wd,float):
        continue
    if wd not in tr_type:
        correct = get_similarity(wd,tr_type)
        csv.loc[i,'Target_Type'] = correct

In [19]:
csv['Target_Type'].value_counts()

Target_Type
infrastructure          8974
civilians               8801
government officials    8752
police                  8746
tourists                8687
Name: count, dtype: int64

# Weapon_Used

In [20]:
wp_us = ['explosives',
 'chemical',
 'firearms',
 'bladed weapons',
 'incendiary',
 'melee']

In [21]:
for i in range(len(csv)):
    wd = csv.loc[i,'Weapon_Used']
    if isinstance(wd,float):
        continue
    if wd not in wp_us:
        correct = get_similarity(wd,wp_us)
        csv.loc[i,'Weapon_Used'] = correct

In [22]:
csv['Weapon_Used'].value_counts()

Weapon_Used
explosives        7537
chemical          7521
firearms          7367
bladed weapons    6286
incendiary        6212
melee             4029
Name: count, dtype: int64

# Claimed_By

In [23]:
cb = ['unknown',
 'group d',
 'group b',
 'group c',
 'group a',
 'group s',
 'group h',
 'group m',
 'group f',
 'group g',
 'group x',
 'group l',
 'group n',
 'group q',
 'group i',
 'group e',
 'group z',
 'group y',
 'group p',
 'group u',
 'group r',
 'group t',
 'group w',
 'group k',
 'group o',
 'group v',
 'group j']

In [24]:
for i in range(len(csv)):
    wd = csv.loc[i,'Claimed_By']
    if isinstance(wd,float):
        continue
    if wd not in cb:
        correct = get_similarity(wd,cb)
        csv.loc[i,'Claimed_By'] = correct

In [25]:
csv['Claimed_By'].value_counts()

Claimed_By
unknown    8885
group d    8652
group b    8619
group c    8603
group a    8584
group s      44
group m      39
group h      39
group f      36
group g      36
group n      34
group l      34
group x      34
group q      31
group i      30
group z      29
group e      29
group u      28
group p      28
group y      28
group r      28
group t      27
group w      27
group k      25
group o      24
group v      20
group j      19
Name: count, dtype: int64

# Intelligence_Tip

In [26]:
it = ['unknown',
 'yes',
 'no']

In [27]:
for i in range(len(csv)):
    wd = csv.loc[i,'Intelligence_Tip']
    if isinstance(wd,float):
        continue
    if wd not in it:
        correct = get_similarity(wd,it)
        csv.loc[i,'Intelligence_Tip'] = correct

In [28]:
csv['Intelligence_Tip'].value_counts()

Intelligence_Tip
unknown    15957
yes        15843
no         15757
Name: count, dtype: int64

# Motive

In [29]:
mt = ['ethnic',
 'unknown',
 'retaliation',
 'political',
 'religious']

In [30]:
for i in range(len(csv)):
    wd = csv.loc[i,'Motive']
    if isinstance(wd,float):
        continue
    if wd not in mt:
        correct = get_similarity(wd,mt)
        csv.loc[i,'Motive'] = correct

In [31]:
csv['Motive'].value_counts()

Motive
ethnic         9554
retaliation    9497
unknown        9480
religious      9425
political      9413
Name: count, dtype: int64

# Operational_Success

In [32]:
os = ['yes',
 'unknown',
 'no']

In [33]:
for i in range(len(csv)):
    wd = csv.loc[i,'Operational_Success']
    if isinstance(wd,float):
        continue
    if wd not in os:
        correct = get_similarity(wd,os)
        csv.loc[i,'Operational_Success'] = correct

In [34]:
csv['Operational_Success'].value_counts()

Operational_Success
yes        11432
unknown    11378
no         11173
Name: count, dtype: int64

# Financial_Support

In [35]:
fs = ['international',
 'local',
 'unknown']

In [36]:
for i in range(len(csv)):
    wd = csv.loc[i,'Financial_Support']
    if isinstance(wd,float):
        continue
    if wd not in fs:
        correct = get_similarity(wd,fs)
        csv.loc[i,'Financial_Support'] = correct

In [37]:
csv['Financial_Support'].value_counts()

Financial_Support
international    15332
unknown          15287
local            15286
Name: count, dtype: int64

# Training_Location

In [38]:
tl = ['abroad',
 'domestic']

In [39]:
for i in range(len(csv)):
    wd = csv.loc[i,'Training_Location']
    if isinstance(wd,float):
        continue
    if wd not in tl:
        correct = get_similarity(wd,tl)
        csv.loc[i,'Training_Location'] = correct

In [40]:
csv['Training_Location'].value_counts()

Training_Location
abroad      24748
domestic    24232
Name: count, dtype: int64

# Communication_Method

In [41]:
cm = ['internet',
 'couriers',
 'cellphones']

In [42]:
for i in range(len(csv)):
    wd = csv.loc[i,'Communication_Method']
    if isinstance(wd,float):
        continue
    if wd not in cm:
        correct = get_similarity(wd,cm)
        csv.loc[i,'Communication_Method'] = correct

In [43]:
csv['Communication_Method'].value_counts()

Communication_Method
internet      14844
couriers      14646
cellphones    14513
Name: count, dtype: int64

# location

In [44]:
locs = ['mumbai',
 'athens',
 'paris',
 'new york',
 'sydney',
 'seoul',
 'tokyo',
 'berlin',
 'mexico city',
 'bangkok',
 'moscow',
 'beijing',
 'toronto',
 'lima',
 'rio de janeiro',
 'cape town',
 'madrid',
 'istanbul',
 'dubai',
 'nairobi',
 'rome',
 'london',
 'cairo',
 'buenos aires',
 'jakarta']

In [45]:
for i in range(len(csv)):
    wd = csv.loc[i,'Location']
    if isinstance(wd,float):
        continue
    if wd not in locs:
        correct = get_similarity(wd,locs)
        csv.loc[i,'Location'] = correct

In [46]:
csv['Location'].value_counts()

Location
mumbai            1911
sydney            1886
paris             1883
new york          1880
athens            1879
berlin            1864
tokyo             1860
beijing           1857
mexico city       1848
madrid            1842
moscow            1840
seoul             1837
istanbul          1835
bangkok           1833
lima              1831
toronto           1830
rio de janeiro    1826
dubai             1826
cape town         1824
nairobi           1817
cairo             1812
rome              1793
london            1789
buenos aires      1787
jakarta           1782
Name: count, dtype: int64

# Final CSV

In [47]:
csv.to_csv('./clean_terror_data_final.csv',index=False)